<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tpp</title>
</head>
<body>
    <div id="J_topNotice" class="dy-notice fn-hide"></div>
    <div id="J_seatTop" class="dy-list" dy-mode="flat chip iconlist"></div>
    <div id="J_xseat"></div>
    <div id="J_confirm" class="confirm-block"></div>
    <div id="app">
        <div class="content" v-if="showContent"></div>
        <div class="alphabet-wrap">
            <span class="alphabet" v-for="(el, prop) in cityCodes"
            @click="alphabetChange(el)">{{prop}}</span>
        </div>
        <div class="city-wrap">
            <span class="city" v-for="(el, idx) in alphabetZone">{{alphabetZone.length}}</span>
        </div>
    </div>
</body>
</html>